@import "./animations";
@import "./fonts";
@import "./progress";

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-banner {
	background-image: url("/2217435.webp");
	background-color: #18191c00;
	background-blend-mode: hue;
	background-size: cover;
	background-position: center;
}

.ReactDiscordInvite--root.palette-dark {
    background: #2f313699;
    color: #fff;
	min-width: auto;
    backdrop-filter: blur(16px);
}

svg circle {
	transition: stroke-dashoffset 1s linear;
}